.icon {
  height: 40px;
  width: 40px;
  margin: 10px;
  border: none;
}

button .icon {
  border: none;
}

.options {
  height: 25px;
  width: 60px;
  margin: 10px;
  color: purple;
  border-radius: 5px 5px;
}

.container {
  padding: 10px;
}
