.details-button {
    font-family: 'Lato', sans-serif;
    background: #7bac4a;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    padding: 4px 12px;
  }
.details-button:hover {
    background: #62883b;
}

.edit-button {
    font-family: 'Lato', sans-serif;
    background: #f6aa04;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    padding: 4px 12px;
  }
.edit-button:hover {
    background: #dd9904;
}

.delete-button {
    font-family: 'Lato', sans-serif;
    background: #f84314;
    border-radius: 14px;
    border: none;
    color: #FFFFFF;
    padding: 4px 12px;
  }
.delete-button:hover {
    background: #eb3607;
}
