#buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mainBtn {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 5px solid #572D87;
  border-radius: 25px;
  margin: 10px;
  background-color: rgba(123, 172, 74, 0.5);

}

.mainBtn:hover {
  background-color: rgba(123, 172, 74, 0.75);
}

.BtnH2{
  font-size: 24px;
  color: #572D87;
}

.BtnP{
  font-size: 16px;
  color: #572D87;
}
