
#nav {
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
  background-color: #582D87;
  position: sticky;
}

#nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 15px;
}

#nav li {
  display: inline;
  font-size: 20px;
  padding: 0px 5px;
}

#nav li:hover {
  font-weight: bold;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.current {
  font-weight: bold;
  border-bottom: 2px solid #7bac4a;
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
