table {
  border-collapse: collapse;
  width: 100%;
  line-height: 30px;
  margin: 0px auto;
  white-space: nowrap
}

.table tr th {
  padding: 0px 30px;
}

.table th.left-align {
  background-color: red;
}

.table th {
  background-color: #7bac4a;
  color: #FFFFFF;
}

.table td.left-align {
  text-align: left;
}

.table td {
  text-align: center;
}
