
table {
  border-collapse: collapse;
  line-height: 30px;
  max-width: 100%;
}

tr th {
  padding: 0px 30px;
}

 th.left-align {
  background-color: red;
  text-align: left;
}

 th {
  background-color: #7bac4a;
  color: #FFFFFF;
}

td.left-align {
  text-align: left;
  padding: 0px 0px 0px 30px ;
}

td {
  text-align: center;
}
